body{
  background-color: aquamarine;
}
  
  .textarea{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    font-size: 20px;
    line-height: 1;
    border: 0px;
    resize: none;
    overflow: hidden;
    background-color: blue;
    color: #0D1014;
    z-index: -1;
    background-color: #0077cc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    aspect-ratio: 1 / 1;
    
  }
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive Spalten */
    gap: 10px;
    width: 90%; /* Gesamtbreite der Grid-Container */
    max-width: 1000px;
      color:#0D1014;
      font-size: 12px;
      
      }
  
      
        
    
        
      .title {
        text-decoration: none;
        color: inherit;
        grid-column: 1 / 2;
        justify-self: left;
        align-self: center;
        z-index: 10;
        }
  
      .info {
        grid-column: 2 / 3;
        justify-self: center;
        align-self: center;
        z-index: 10;}
  
      .author {
        grid-column: 3 / 4;
        justify-self: right;
        align-self: center;
        z-index: 10;
      }
  
      .textfeld {
        grid-column: 1 / 2; }
  
  span {
    display: inline-block;  
    
    transform-origin: center;
    animation: rotateAndMove 10s infinite ease-in-out;
  }